@model IPSSalud.Modelos.ViewModels.EmpresaVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo ="Crear Empresa";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @if (Model.Empresa.Id != 0) 
    {
        //
        titulo = "Actualizar Empresa";
    }
    <div class="col-12 border-bottom">
        <h2 class="text-primary">@titulo</h2>
    </div>
    <div class="col8 pt-4">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Empresa.NitEmpresa"></label>
                <span asp-validation-for="Empresa.NitEmpresa" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="Empresa.NombreEmpresa"></label>
                <span asp-validation-for="Empresa.NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Empresa.Descripcion"></label>
                <span asp-validation-for="Empresa.Descripcion" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Empresa.Direccion"></label>
                <span asp-validation-for="Empresa.Direccion" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label>Telefono</label>
                <span asp-validation-for="Empresa.Telefono" class="text-danger"></span>
            </div>
            
            <input id="nombre">
            <button onclick="return validar()"></button>



            <div class="col-5">
                <label>Departamento</label>
                <select name="DepartamentoId" class="DepartamentoId" asp-items="Model.DepartametoLista" id="DepartamentoId" class="form-select">
                        <option selected>Seleccione el Departamento</option>
                </select>
            </div>
            <div class="col-5">
                <label>Municipio</label>
                <select name="MunicipioId" id="MunicipioId"
                        asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-select">
                </select>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Empresa.LogoUrl"></label>
                </div>
            </div>

            <div class="col-4">
                <select asp-for="Empresa.Estado" class="form-control"> 
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Empresa.Id != 0)
                    {
                        <partial name="_BotonesActualizarYRegresar" model="Model.Empresa.Id" />
                    }
                    else
                    {
                        <partial name="_BotonesCrearYRegresar"/>
                    }

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
 <script>
        $(document).ready(function () {
            $("#DepartamentoId").on('change', function(){
                getMunicipios();
            });
        });

        function getMunicipios() {
            var url = '@Url.Content("~/")' + "Administrador/Municipio/MunicipioDepartamento";
            var ddlsource = '#DepartamentoId';
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#MunicipioId').empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#MunicipioId').html(items);
        })
   }
</script>   
}